.bg_main{
    background-color: #222A34;
    width: 1000px;
    height: 800px;
    margin: 0 auto;
    margin-top: 170px;
    border-radius: 25px;
    box-shadow: 1px 1px 10px black;
    position: relative;

}

.close_icon{
    position: absolute;
    top: 23px;
    left: 23px;
}

.header_title{
    color: white;
    text-align: right;
    font-size: 47px;
    margin-right: 40px;
    padding-top: 13px;
    font-family: Aduma;
}

.btn_upload{
    background-color: #475366;
    color: white;
    border: 0;
    padding: 8px;
    border-radius: 20px;
    padding-left: 35px;
    margin-left: 20px;
    background-image: url(./assets/Upload.png);
    background-repeat: no-repeat;
    background-position: 10px;
    padding-right: 12px;
}

.small_text{
    color: #ffffff91;
    position: absolute;
    top: 74px;
    left: 161px;
    direction: rtl;
}


.left_div , .right_div{
    background-color: #2F3A4B;
    height: 79%;
    border-radius: 15px;
    padding-top: 7%;
}

.left_div {
    width: 70%;
    position: relative;
}

.right_div{
    width: 30%;
}

.middle_div{
    width: 98%;
    height: 73%;
    display: flex;
    flex-direction: row;
    margin-top: 25px;
    gap: 10px;
    padding: 10px;
}

.left_div_in, .right_div_in{
    background-color: #161B21;
    height: 85%;

}

.btn_eula{
    background-color: #475366;
    color: white;
    border: 0;
    padding: 8px;
    border-radius: 20px;
    padding-left: 35px;
    margin-left: 20px;
    background-image: url(./assets/eula.png);
    background-repeat: no-repeat;
    background-position: 10px;
    padding-right: 12px;
    position: relative;
    top: 20px;
}


.eula_text{
    position: relative;
    top: -6px;
    left: 288px;
    color: #ffffff99;
}

.footer{
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    margin-top: -20px;
}

.logo {
    width: 200px;
    height: 46px;
    margin-top: 8px;
}

.banner{
    height: 58px;
    width: 718px;

}


.tabs{

    position: absolute;
    color: white;
    top: 0;
    right: 0;
    display: flex;
    flex-direction: row-reverse;

    margin-top: 20px;
}

.tabs_1 , .tabs_2{
    font-size: 27px;
    font-family: 'Aduma';
    width: 133px;
    text-align: center;
}

.tabs_1{
    background-image: url(./assets/Cleanup\ Edges.png);
    background-repeat: no-repeat;
    background-position: 104px 12px;
    padding-bottom: 12px;
}


.tabs_2{
    background-image: url(./assets/Image.png);
    background-repeat: no-repeat;
    background-position: 90px 12px;
    padding-bottom: 12px;
}

.selected_tab{
    border-bottom: 4px solid #9C27B0;
}

.eula_text_popup{
    background-color: white;
    color: black;
    position: absolute;
    top: 102px;
    width: 815px;
    height: 800px;
    margin-left: 219px;
    border-radius: 28px;
}

.layout{
    background-color: #000000d4;
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
}